@{
    ViewData["Title"] = "Будущее — за инженерами";
}

<div>
    <h1>Будущее — за инженерами</h1>
    <img src="~/img/Inzhenery.jpg" class="p-2 p-md-3 mb-2"/>
    <div class="p-1 p-md-2 mb-1">
        В Тульской области состоялся X Международный молодёжный промышленный форум «Инженеры будущего». Мероприятие проходило с 27 июня по 7 июля 2022 года на территории пансионата «Шахтер» в селе Бунырево. В нём приняли участие 1500 человек со всей страны, а также гости из 70 стран мира. Студенты и молодые учёные ТулГУ стали победителями форума.
    </div>
    <div class="p-1 p-md-2 mb-1">
        Форум подошёл к концу, а это значит пришло время подводить итоги и делиться своими эмоциями о том, как это было! В этом году студенты и молодые учёные ТулГУ заняли самые высокие места в рейтинговом зачете. От университета подали заявки на участие в форуме 13 кандидатов. По итогам все они стали победителями.
    </div>
    <div class="p-1 p-md-2 mb-1">
        — В этом году форум прошёл очень успешно. Наши студенты, аспиранты и молодые учёные заняли топ-20 позиций личного рейтинга. В корпоративном — вновь стали победителями как в 2020, только теперь в составе команды Тульского регионального отделения СоюзМаша России совместно с представителями КБП и НОЦ «ТулаТЕХ», — рассказал Юрий Чадаев, директор стартап-студии ТулГУ. — Если говорить о наших победителях, то это личности, это лидеры, обладающие не только фундаментальными инженерными знаниями, но и способные к самоорганизации, организации команды, коммуникации, целеполаганию. Они готовы взять на себя ответственность при решении комплексных проектов, а также формировать и реализовывать их.
    </div>
    <div class="p-1 p-md-2 mb-1">
        В форуме «Инженеры будущего» принимали участие не только наши студенты и молодые учёные, но и преподаватели. Они выступили спикерами на факультете комплексов высокоточного оружия ближней тактической зоны.
    </div>
    <div class="p-1 p-md-2 mb-1">
         — Несмотря на то, что слушателями нашего факультета были представители различных организаций, а также студенты, следует отметить высокий уровень технической грамотности присутствовавших на занятиях, который позволил им сходу войти в курс дела, разобраться в этой области знаний. Ребята задавали интересные и подчас весьма неожиданные вопросы по тематике лекций. После общения с участниками как в рамках занятий, так и на полях форума, могу сказать, что это активные, энергичные, любознательные люди, и, несмотря на молодой возраст, многие уже состоявшиеся специалисты в своей области. У них есть свои идеи, проекты, направленные в будущее, и главное, они готовы их воплощать в жизнь, — поделился мнением о форуме Андрей Ефромеев, доцент кафедры систем автоматического управления Института высокоточных систем им. В.П. Грязева ТулГУ.
    </div>
   <div class="p-1 p-md-2 mb-1">
        На факультете комплексов высокоточного оружия ближайшей тактической зоны работали 9 спикеров из состава преподавателей ТулГУ, также 4 представителя АО «КБП» и 2  — АО «Тулаточмаш».
    </div>
    <div class="p-1 p-md-2 mb-1">
        Но главное внимание стоит уделить нашим победителям, которые на протяжении 10 дней усердно работали, учились и разрабатывали свои проекты. Они поделились с нами своими эмоциями и впечатлениями.
    </div>
    <div class="p-1 p-md-2 mb-1">
        — На форум привело желание поучаствовать в новых для себя родах деятельности, причем как в образовательной программе, так и в спорте. Впервые играла в городки и бочче, а факультет выбрала аэрокосмический и очень много знаний почерпнула в области аэродинамики и физики в целом, — говорит Виолетта Кузнецова, аспирант Института горного дела и строительства, Мисс Форум и Мисс зрительских симпатий. — На форуме я представляла проект на Национальной научно-технической конференции (ННТК). Я исследовала деформирование и предельное состояние оболочек вращения, подверженных воздействию агрессивных сред. В результате заняла 1-е место в личном зачете. Больше всего понравилось наше единение в команде, поддержка, когда каждый как крепкое звено в цепи был незаменим и уникален одновременно. Участие в нём показало, на что я действительно способна, дало много новых знакомств и колоссальный опыт выступления перед публикой, полными трибунами зрителей. Мои надежды оправдались на все 100%, я с удовольствием приняла бы участие в «Инженерах» в следующем году!
    </div>
    <div class="p-1 p-md-2 mb-1">
        — В личном рейтинге я заняла 7 место среди всех участников с проектом «Тульский Кремль в AR». Сначала ты не можешь найти себе места, переживаешь за результат, но после того, как ты слышишь, что твоя команда — лидер, с твоих плеч падает огромный булыжник, и наступает такое счастье на душе, у тебя одновременно смех и слезы. В тот момент самое главное было всем морально собраться, правильно распределить нагрузку и действовать, как единая команда, — вспоминает Анастасия Косыгина, студентка 3 курса Института гуманитарных и социальных наук. — Сама организация была на достаточно высоком уровне, я в полнейшем восторге, для нас продумали всё: зоны отдыха, номера, комфортное пространство для обучения, возможность тренировок перед соревнованиями, интересные экскурсии на крупнейшие предприятия области. На образовательной программе у меня был прекрасный спикер, слушала её с упоением. Я была записана на факультет развития проектных команд «Прорыв» от академии Ростеха. Для меня это колоссальный шаг вперёд, прокачивание своих навыков. После форума жизнь стала совсем иной и ощущаешь себя взрослее.
    </div>
    <div class="p-1 p-md-2 mb-1">
        — Соперники на форуме были достаточно серьёзные, расслабиться нельзя было ни на минуту. Поэтому мы не просто посещали все лекции, но и были активны во всех деловых программах, которые включали круглые столы, обсуждения, мастер-классы спикеров. Мы делали это не для набора баллов, а потому что было интересно, — Лев Сафонов, аспирант Института высокоточных систем им. В.П. Грязева, специалист стартап-студии ТулГУ. — В качестве интересного момента на форуме отмечу взаимодействие ТулГУ и предприятия. Наша команда была сборная — половина представителей университета, половина АО «КБП». Сначала было сложно объединиться, даже несмотря на то, что большая часть сотрудников предприятия закончили ТулГУ. Разница в возрасте принесла нам некоторые трудности. Но в конечном итоге запомнилось то, как мы рука об руку пришли к победе!
    </div>
    <div class="p-1 p-md-2 mb-1">
        Участники и спикеры надеются, что вернутся на форум в следующем году. Такой проект как «Инженеры будущего» должен существовать. Это хорошая образовательная площадка для обмена мнениями, и развития коммуникаций в профессиональной среде. На ней присутствует соревновательный элемент, мотивирующий участников.
    </div>
</div>