@{
    ViewData["Title"] = "В добрый путь, выпускники - 2022!";
}

<div>
    <h1>В добрый путь, выпускники - 2022!</h1>
    <img src="~/img/48.jpg" class="p-2 p-md-3 mb-2"/>
    <div class="p-1 p-md-2 mb-1">
        9 июля состоялась торжественная церемония вручения дипломов выпускникам Института педагогики, физической культуры, спорта и туризма.
    </div>
    <div class="p-1 p-md-2 mb-1">
        В 2022 году институт окончили 64 человека, из них — 55 бакалавров, 9 магистров. 19 выпускникам были вручены дипломы с отличием, а лучшим — благодарности.
    </div>
    <div class="p-1 p-md-2 mb-1">
        Торжественный праздник, посвящённый прощанию студентов с университетом, начался приветственными словами проректора по финансовой деятельности ТулГУ Андрея Андреевича Маликова, пожелавшего выпускникам успехов в профессиональной деятельности и упорства в достижении целей.
    </div>
    <div class="p-1 p-md-2 mb-1">
        С напутствием к выпускникам обратилась директор Института педагогики, физической культуры, спорта и туризма Светлана Анатольевна Архипова: «Всегда идите вперед, будьте настойчивее, целеустремленнее, продолжайте самосовершенствоваться, открывайте новые грани своих возможностей. Пусть у вас всё получается в жизни, пусть всегда с вами идет успех и удача, не забывайте друзей и преподавателей, которых вы здесь обрели. В добрый путь, друзья!»
    </div>
    <div class="p-1 p-md-2 mb-1">
        Министр спорта Тульской области Дмитрий Николаевич Яковлев поздравил выпускников и пригласил молодых специалистов посодействовать в развитии спортивного движения: «Наше направление сейчас активно развивается в городе, но без вас, без вашей поддержки, без вашего участия в жизни нашего региона мы не обойдемся. Поэтому мы всех приглашаем в нашу большую спортивную семью. Будем рады вас видеть!»
    </div>
    <div class="p-1 p-md-2 mb-1">
        Гостем праздничной церемонии стал Дмитрий Александров Корнилов, мастер спорта международного класса по легкой атлетике, участник паралимпийских игр в Лондоне 2012 года, реабилитолог, главный массажист волейбольного клуба «Тулица», основатель студии красоты, выпускник Института: «Прошло всего лишь 10 лет с момента моего выпуска и на пути было много всего интересного. Но самое главное, что привело меня сюда сегодня — любовь к своему делу. Если вы по-настоящему будете любить то, чем вы занимаетесь, то, я уверен, вы достигните самых высоких целей».
    </div>
    <div class="p-1 p-md-2 mb-1">
        К выпускникам обратилась заведующая кафедрой туризма и индустрии гостеприимства Ирина Юрьевна Пономарева: «Вы знаете, как бурно сейчас развивается туризм в России и в нашем регионе. Тульская область стала практически туристической меккой за последние годы. Поэтому индустрия ждёт каждого из вас, вы очень ей нужны».
    </div>
    <div class="p-1 p-md-2 mb-1">
        Самые добрые, искренние слова любви и благодарности прозвучали из уст выпускников в адрес преподавателей: «Выражаем благодарность всему преподавательскому составу и руководству нашему института. Спасибо за ваш труд, терпение и полученные знания. Спасибо за доброту, и веру в нас. Желаем вам долгих лет успешного преподавания, неиссякаемого энтузиазма и оптимизма, крепкого здоровья и семейного благополучия».
    </div>
    <div class="p-1 p-md-2 mb-1">
        Позже выпускники рассказали о том, как прошли их студенческие годы.
    </div>
    <div class="p-1 p-md-2 mb-1">
        Вероника Сальник, выпускница кафедры туризма и индустрии гостеприимства, обладатель гранта Росмолодежи, организатор тематических квестов: «Самым ярким и запоминающимся был 1 курс, во многом благодаря профсоюзу. Было много различных мероприятий и выездных обучений, в которых я активно принимала участие. Это помогло мне быстрее влиться в студенческую жизнь и завести новых знакомых и друзей».
    </div>
    <div class="p-1 p-md-2 mb-1">
        Эдуард Мурашкин, выпускник кафедры физкультурно-оздоровительных технологий, мастер спорта по самбо, многократный призёр и победитель первенства России, победитель первенства мира: «Мне очень понравилось обучение в ТулГУ, особенно преподавательский состав. Интересным было плавание у Екатерины Олеговны Кашминой. Это профессионал в своем деле, доступно и понятно объясняет, хорошо ставит технику, очень добрый и отзывчивый преподаватель. А еще запомнилось, как я участвовал в универсиаде по своему виду спорта».
    </div>
    <div class="p-1 p-md-2 mb-1">
        Присоединяемся к поздравлениям и желаем выпускникам новых побед!
    </div>
</div>