@{
    ViewData["Title"] = "Есть ещё одно «золото» Универсиады!";
}

<div>
    <h1>Есть ещё одно «золото» Универсиады!</h1>
    <img src="~/img/1.jpeg" class="p-2 p-md-3 mb-2"/>
    <div class="p-1 p-md-2 mb-1">
        По итогам соревнований по спортивному ориентированию в Ульяновске и самбо в Грозном медальный зачёт VIII Всероссийской летней Универсиады пополнили студенты Тульского государственного университета.
    </div>
    <div class="p-1 p-md-2 mb-1">
        В соревнованиях по спортивному ориентированию среди девушек победителем на длинной дистанции стала студентка Института горного дела и строительства Анна Сафронова, показавшая время 35:00. Это второе «золото» спортсменки в Ульяновске: на старте соревнований ей не было равных в кросс-спринте.
    </div>
    <div class="p-1 p-md-2 mb-1">
        В командной борьбе по итогам всех дисциплин спортивного ориентирования ТулГУ занял третье место Универсиады среди вузов страны.
    </div>
    <div class="p-1 p-md-2 mb-1">
        С 5 по 8 июля в Грозном проводились финалы Всероссийской летней Универсиады по самбо. Третьекурсница Института педагогики, физической культуры, спорта и туризма Елена Алленова стала второй в весе до 80 кг. Также «серебро» в категории до 64 кг завоевал студент Института права и управления ТулГУ Феликс Сааков.
    </div>
    <div class="p-1 p-md-2 mb-1">
        В общей сложности, медалистами VIII Всероссийской летней Универсиады уже стали спортсмены 49 различных вузов страны.
    </div>
</div>